@namespace url('http://www.w3.org/1999/xhtml');
@namespace m url('http://www.w3.org/1998/Math/MathML');

.hidden {
  display: none;
}

a.new {
  color: #d33;
}

.parser-output {
  padding: 1em 1em 1em 0;
}

.parser-output, #viewer-panel {
  scroll-behavior: smooth;
}

.parser-output ul, .parser-output ol {
  margin: 0.3em 0 0 1.6em;
  padding: 0;
}

h3 {
  font-family: Baskerville, Georgia, "Liberation Serif", "Kaiti SC", STKaiti, "AR PL UKai CN", "AR PL UKai HK", "AR PL UKai TW", "AR PL UKai TW MBE", "AR PL KaitiM GB", KaiTi, KaiTi_GB2312, DFKai-SB, "TW\-Kai", sans-serif; 
}

code {
  border-radius: 2px;
  padding: 1px 4px;
}

pre, code {
  background-color: #f8f9fa;
  color: #000;
  border: 1px solid #eaecf0;
}

.parser-output {
  font-family: Baskerville, Georgia, "Liberation Serif", 'Noto Serif CJK SC', STZhongsong, STSong, serif;
}

.parser-output table {
  width: unset;
}

.wikitable {
  background-color: #f8f9fa;
  color: #202122;
  margin: 1em 0;
  border: 1px solid #a2a9b1;
  border-collapse: collapse;
}

.wikitable > caption {
  font-weight: bold;
}

.wikitable > tr > th, .wikitable > * > tr > th {
  background-color: #eaecf0;
  text-align: center;
}

.wikitable > tr > th, .wikitable > tr > td, .wikitable > * > tr > th, .wikitable > * > tr > td {
  border: 1px solid #a2a9b1;
  padding: 0.2em 0.4em;
}

div.tleft, div.floatleft, table.floatleft {
  margin: 0 1em 1em 0;
}

div.tleft, div.floatleft, table.floatleft {
  float: left;
  clear: left;
}

div.tright, div.floatright, table.floatright {
  margin: 0 0 1em 1em;
}

div.tright, div.floatright, table.floatright {
  clear: right;
  float: right;
}

.thumbinner {
  background: #f8f9fa;
  border: solid #eaecf0;
    border-top-width: medium;
    border-right-width: medium;
    border-bottom-width: medium;
    border-left-width: medium;
  border-width: 1px 1px 0.2em;
  padding: 1.25em 1.75em;
  box-shadow: 0 1px 2px 1px rgba(0,0,0,0.02);
  padding: 0.75em;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}

.hatnote {
  padding-left: 2em;
  margin-bottom: 0.8em;
  margin-top: 0.8em;
  font-size: small;
}

.infobox {
  border: 1px solid #a2a9b1;
  background-color: #f8f9fa;
  color: black;
  margin-bottom: 0.5em;
  margin-left: 1em;
  padding: 0.2em;
  float: right;
  clear: right;
}

.legend-color {
  display: inline-block;
  min-width: 1.25em;
  height: 1.25em;
  line-height: 1.25;
  margin: 1px 0;
  text-align: center;
  border: 1px solid black;
  background-color: transparent;
  color: black;
}

.mw-references-columns {
  column-width: 30em;
}
references {
  display: block;
  font-size: smaller;
  margin-left: 3em;
  counter-reset: list-item;
  list-style: decimal;
}
ref {
  display: list-item;
}
cite {
  font-style: normal;
}
.refbegin {
  font-size: 90%;
}
.refbegin dl {
  margin-top: 0;
}
.refbegin dl dd {
  text-indent: -2em;
}
.nowrap {
  white-space: nowrap;
}
.error {
  color: #d33;
}

@font-face {
    font-family: Latin Modern Math;
    src: url('https://fred-wang.github.io/MathFonts/LatinModern/latinmodern-math.woff2'), url('https://fred-wang.github.io/MathFonts/LatinModern/latinmodern-math.woff');
}
m|math {
  font-family: Latin Modern Math;
}

/* render fixes */
m|math[display="block"] {
  display: inline-block;
}
m|mtd {
  text-align: left;
  padding: 0;
}
m|mtd.mml-eqn-num {
  padding: 0.5ex 0.4em;
}

.katex-display {
  margin: unset;
  display: inline;
}
.katex-display.fleqn > .katex {
  padding-left: 0;
}

.parser-output syntaxhighlight {
  display: block;
  white-space: pre-wrap;
  font-family: monospace;
  padding: 1em;
  tab-size: 4;
}

dialog {
  border: none !important;
  border-radius: 16px;
  box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 1.6rem;
  max-width: 400px;
}

dialog img {
  display: block;
  max-width: 75%;
  margin: 0 auto;
}

@media print {
  aside {
    display: none;
  }
  #content.has-toc {
    display: block !important;
  }
  .parser-output {
    height: unset !important;
    overflow: unset !important;
  }
  h2, h3 {
    page-break-inside: avoid;
  }
  h2::after, h3::after {
    content: "";
    display: block;
    height: 100px;
    margin-bottom: -100px;
  }
}
